@import 'variables';

/* ------------------------------ Global styles ------------------------------ */
body {
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: $dark2;
}

.section-button p,
#about-title h1,
#experience-title h1,
#projects-title h1,
#api-title h1,
#node-api-title h1 {
  color: $light2;
}

.bubble {
  background-color: $dark1;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  transition: $default-easing;

  p {
    font-weight: bold;
    font-size: 3vh;
    text-shadow: $default-text-shadow;
    margin-left: 5%;
  }

  img {
    height: 60%;
    border-radius: 50%;
    box-shadow: $default-box-shadow;
  }
}

/* ------------------------------ Start Page ------------------------------ */
#profile-start {
  height: 20vh;
  width: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: $default-box-shadow;

  p {
    font-size: 5vh;
  }

  &:hover {
    transform: translate(-50%, -50%) scale(1.01);
  }
}

/* ------------------------------ Home Page ------------------------------ */
/* --------------- Sidebar --------------- */
#profile-home {
  height: 6%;
  width: 100%;

  &:hover {
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
  }

  p {
    font-size: 2.5vh;
  }
}

#sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 20vh;
}

.section-button {
  transition: $default-easing;
  cursor: pointer;

  &:hover {
    p {
      color: $light1;
    }

    div {
      width: 100%;
    }
  }

  p {
    font-size: 2vh;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: 2vh;
    text-shadow: $default-text-shadow;
    transition: $default-easing;
  }

  div {
    margin-bottom: 0;
    height: 2px;
    width: 80%;
    border-width: 0;
    background: linear-gradient(to right, $dark1, $dark1, transparent);
    transition: $default-easing;
  }
}

/* --------------- About section --------------- */
.home {
  display: flex;
  flex-direction: row;
  width: 90%;

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 22vh;

    section {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100%;
    }

    p {
      margin: 1vh;
      text-shadow: $default-text-shadow;
    }
  }
}

#about-title,
#experience-title,
#projects-title,
#api-title,
#node-api-title {
  display: flex;
  align-items: center;
  height: 8vh;

  h1 {
    font-size: 4vh;
    margin: 3vh;
    text-shadow: $default-text-shadow;
  }
}

.styled-link {
  cursor: pointer;
  color: $light2;
  background-color: $dark1;
  border-radius: $default-border-radius;
  padding: 5px;
  text-decoration: none;
}

#cheapshark-games,
#amiibos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2vh;
}

#cheapshark-game,
#amiibo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20%;

  img {
    width: 30vh;
  }
}

/* --------------- Node API --------------- */
.song-display {
  display: flex;
  flex-direction: row;
  text-shadow: $default-text-shadow;
  background-color: $dark1;
  border-radius: $default-border-radius;
  width: 38vh;
  height: 10vh;
  margin: 2vh;
  padding: 2vh;

  img {
    box-shadow: $default-box-shadow;
    margin-right: 5%;
  }

  div {
    display: flex;
    flex-direction: column;

    h2 {
      margin: 0;
      color: $light2;
    }

    h3 {
      margin: 0;
      color: $light1;
    }
  }
}

.song-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* ------------------------------ Error elements ------------------------------ */
#error-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: rgb(255, 0, 0);
    font-size: 2vh;
    text-align: center;
    text-shadow: $default-text-shadow;
    background-color: $dark1;
    border-radius: $default-border-radius;
    pointer-events: none;
    padding: 1vh;
  }
}