$dark1: #484669;
$dark2: #54526b;
$light1: #c7c7db;
$light2: #a8a7c4;
$default-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
$default-text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
$default-easing: all 0.3s ease-out;
$default-border-radius: 15px;